<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<h1>View MailBox</h1>
<a th:href="@{/}">Back to MailBox</a>
<table>
    <tr>
        <td>Languages:</td>&ensp;
        <td th:text="${mailbox.language}"></td>
    </tr>

    <tr>
        <td>Size:</td>&ensp;
        <td th:text="${mailbox.size}"></td>
    </tr>

    <tr>
        <td>Spams filter:</td>&ensp;
        <td th:text="${mailbox.filter}"></td>
    </tr>

    <tr>
        <td>Signature:</td>&ensp;
        <td th:text="${mailbox.signature}"></td>
    </tr>

</table>
</body>
</html>